@{
    ViewBag.Title = "Home Page";
}


<div id="content">

		<div id="subheader">
			<div id="subheader-title">
			<img alt="About" src="~/Images/about-waitoa-subheader.png">
			</div>

			<div id="subheader-subtitle">
			
			</div>
		</div>

		<div id="page-top">
			<!--Top rounded corners-->
		</div>

	<div id="page-wrapper">

		<div id="page-template">
			
<p>Waitoa Free Range was born out of a desire to offer our customers tasty, juicy, nutritious chicken – from chickens that have been raised under accredited free range standards.</p>
<br>
<p>The lush green valleys of the Waikato region, is home to some of the best farmland in the world. So it seemed like the most natural place to establish our farms.</p>
<br>
<p>All our chickens are raised with access to wide open spaces during the day and provided the finest quality feed to ensure they receive the best possible care. Our grass ranges are carefully managed, offering space to roam, and trees for shade and shelter. With plenty of shade, shelter and grass paddocks to roam on during daylight, our Waitoa Free Range Chickens truly have the freedom to be themselves!</p>
<br>
<p>Free range chicken is not some new-fangled invention. It’s a traditional farming practice that has been refined over centuries. Even up until the 1960s, quite a few Kiwi households kept their own chickens in a free range environment. Fast forward to the 21st century, and our lifestyles and diet have changed. Our busy lives and an increasing variety of cuisines have made us love the convenience, flavour and versatility of chicken even more.</p>
<br>
<p>Chicken is also a good source of protein, nutrients and Vitamin B3 (Niacin) which helps us live active and healthy lives.</p>
<br>
<p>We believe being proudly Free Range is totally worth the effort, and we hope you will agree.</p>

<br>

<p><a href="#">About FREPNZ</a></p>

<p><a href="#">About Nutrition</a></p>

<p><a href="#">About Preperation and Storage</a></p>

	<div id="page-image">
			<img alt="FAQ's" src="~/Images/waitoa-faqs-images.jpg">
	</div>

		</div>
	</div>
		
		<div id="page-bottom">
			<!--Bottom shadow -->
		</div>

	</div>
